@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: darksalmon;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container {
    background-color: antiquewhite;
    border-radius: 10px;
    padding: 25px;
    box-shadow: 14px 14px 0 0 #000000;
    text-align: center;
}

.startGame {
    display: grid;
    gap: 25px;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: 100px;
}

.startGame .card {
    user-select: none;
    cursor: pointer;
}

.startGame .card.active div {
    border: 2px solid cornflowerblue;
}

.card div {
    width: 100px;
    height: 100px;
    line-height: 100px;
    color: cornflowerblue;
    background: #fff;
    border-radius: 10px;
    position: absolute;
    transition: transform 0.5s ease-out;
    backface-visibility: hidden;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}

.card .back {
    transform: rotateY(-180deg);
}

.startGame .card:hover .front,
.card.flip .front {
    transform: rotateY(180deg);
}

.startGame .card:hover .back,
.card.flip .back {
    transform: rotateY(0deg);
}

.startGame button {
    cursor: pointer;
    height: 40px;
    border: none;
    border-radius: 5px;
    color: #fff;
    background-color: cornflowerblue;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}

.fa-repeat {
    font-size: 25px;
    margin-top: 1.5rem;
    cursor: pointer;
}

.playground {
    display: none;
    gap: 20px;
}
